@{
    ViewBag.Title = "My Dashboard";
}

@model WebApplication1.Models.ResultViewModel

<h1>@ViewBag.Title</h1>

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <style type="text/css">
        .dollars:before {
            content: '$';
        }
    </style>
   
</head>

<body>
    @using (Html.BeginForm())
    {

        <h3>Symbol: @Html.DisplayFor(modelItem => modelItem._quote.Symbol) </h3><br />
        <h4>Date: @Html.DisplayFor(modelItem => modelItem._quote.ReportDate) </h4><br />
        <h4>Share Quote: <span class="dollars">@Html.DisplayFor(modelItem => modelItem._quote.LatestPrice)</span> </h4><br />
        <h4>Industry Sector: @Html.DisplayFor(modelItem => modelItem._quote.Sector) </h4><br />

                  }
                  @using (Html.BeginForm())
                  {
                      <table id="myTable" class="table" cellspacing="0">
                          <thead>

                              <tr>
                                  <th>Report Date<br />       </th>
                                  <th>Shareholder Equity<br />       </th>
                              </tr>

                          </thead>
                          <tbody>
                              @foreach (var item in Model._financials)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.ReportDate) <br />
                                      </td>
                                      <td>
                                          <span class="dollars">@Html.DisplayFor(modelItem => item.ShareholderEquity)</span> <br />
                                      </td>
                                  </tr>
                              }
                          </tbody>
                      </table>
                  }

                  @using (Html.BeginForm())
                  {
                      <table id="myTable" class="table" cellspacing="0">
                          <thead>

                              <tr>
                                  <th>Fiscal Period<br />       </th>
                                  <th>Earnings Per Share<br />       </th>
                              </tr>

                          </thead>
                          <tbody>
                              @foreach (var item in Model._earnings)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.FiscalPeriod) <br />
                                      </td>
                                      <td>
                                          <span class="dollars">@Html.DisplayFor(modelItem => item.ActualEPS)</span> <br />
                                      </td>
                                  </tr>
                              }
                          </tbody>
                      </table>
                  }

                      <div style="margin-left:25%;padding:1px 16px;height:100%;">
                          <center><h2>Stock Value : Last Month</h2></center>
                          <canvas id="bar-chart" height="250" width="400"></canvas>
                          <script>
                            var Dlabels =  @Html.Raw(ViewBag.DataLabels);
                            var Dpoints =  @Html.Raw(ViewBag.DataPoints);
                            var myMixedChart = new Chart(document.getElementById("bar-chart"), {
                                type: 'bar',
                                data: {
                                    labels: Dlabels,
                                    datasets:
                                        [{
                                            label: "Test",
                                            type: "line",
                                            borderColor: "#8e5ea2",
                                            data: Dpoints,
                                            fill: false
                                        }]
                                },
                                options:
                                {
                                    legend: {
                                        display: false,
                                        position: 'right'
                                    }
                                }
                            });
                          </script>
                        </div>

</body>
